
<section class="pt-2">
    <div class="row">
        <app-table class="col-md-4" [tableData]="item" *ngFor="let item of dataValue"></app-table>
    </div>
    <!-- <app-linegraph [id]="bookingId"></app-linegraph> -->
</section>