<div >
    <app-header></app-header>
</div>
<div class="sidebar" >
    <div class="sidebar__area" *ngIf="showHide" >
        <app-sidebar></app-sidebar>
    </div>
    <div class="sidebar__content" [ngClass]="{'container-size': !showHide}">
        <router-outlet></router-outlet>
    </div>
</div>