<div class="border">
    <h5>Product Id: {{tableData?.product_id}}</h5>
    <h5>Product Name: {{tableData?.product_name}}</h5>
    <h5>Product Price: {{tableData?.price}}</h5>
    <h5>Product Quantity: {{tableData?.product_total_quantity}} </h5>
</div>